* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    height: 6vh;
    background-color: cyan;
    margin-bottom: 10px;
}

table,
th,
td {
    border: 1px solid red;
}
.project {
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.color {
    color: aliceblue;
    display: flex;
    flex-direction: row;
}